.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

.tabs__list {
	margin-bottom: 100px;
}

.tabs__content {
	font-size: 30px;
}

.tabs__item--active {
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}

.tabs__content {
	display: none;
}

.tabs__content--active {
	display: block;
}